<% unless config.debug %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading text-muted">¿Algún comentario?</h3>
      </div>
      <div id="disqus_thread" class="comments"></div>
    </div>
  </div>

  <script>
  var disqus_config = function () {
    this.page.url = "<%= absolute_url_for(current_page.url) %>";
    this.page.identifier = "<%= current_page.data.title || 'Despégame|space' %>";
  };

  (function() {
    var d = document, s = d.createElement('script');

    s.src = '//despgame-space.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<% end %>
