---
title: Todos los eventos
---

<header style="background-image:url(/images/header-bg-events.jpg)">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Archivo de eventos</div>
    </div>
  </div>
</header>

<section id="events" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <% blog.articles.each do |event| %>
        <div class="col-md-4 col-sm-6 events-item">
          <a href="<%= event.url %>" class="events-link">
            <div class="events-hover">
              <div class="events-hover-content">
                <span class="glyphicon glyphicon-plus"></span>
              </div>
            </div>
            <img src="/images/events/<%= event.data.thumbnail %>" class="img-responsive img-centered" alt="">
          </a>
          <div class="events-caption">
            <h4><%= event.title %></h4>
            <p class="text-muted"><%= event.data.subtitle %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
