---
title: Despégame|space – Cool events around you
---

<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Cool events around you</div>
    </div>
  </div>
</header>

<%= partial :events %>

<section class="about">
  <div class="event-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">¿Quiénes somos?</h2>
          <p class="large text-muted">
            Somos un espacio de <em>coworking</em> con interés en desarrollar el tejido empresarial y acdaémico de la ciudad.
          </p>
          <p class="large text-muted">
            Los eventos son completamente abiertos y gratuitos, y cualquier tipo de perfil será siempre bienvenido. Adelante, te esperamos.
          </p>
        </div>
      </div>
    </div>
    <div class="map-container text-center">
      <h3 class="section-heading">Estamos en el centro de Ciudad Real</h3>
      <p>Plaza Cervantes 6, Planta 5. Ciudad Real</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3101.3755648470346!2d-3.931178684685346!3d38.98392414944425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6bc315296f9eff%3A0x5fbcd480729ade23!2sPlaza+Cervantes%2C+6%2C+13001+Ciudad+Real%2C+Cdad.+Real!5e0!3m2!1sen!2ses!4v1462772351568" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</section>
