---
title: Despégame|space – Events around you
---

<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Events around you</div>
    </div>
  </div>
</header>

<%= partial :events %>

<div class="event-details">
  <div class="event-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">¿Quiénes somos?</h2>
          <p class="large text-muted">
            Somos un espacio de <em>coworking</em> de Ciudad Real con interés por participar en el tejido empresarial y acdémico de la ciudad.
          </p>
          <p class="large text-muted">
            Los eventos son completamente abiertos y gratuitos, y cualquier perfil será siempre bienvenido.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
